:root {
    --color-body: #606060;
    --color-links: rgb(201, 85, 85);
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
    /* background-image: url(); */
}